@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:'Concert One',sans-serif;
    text-transform: uppercase;
    overflow-wrap:break-word;
}
html,body{
    width:100%;
    height:100%;
}
button:hover{
cursor: pointer;
transform:scale(1.05);
transition:0.2s;
}